.SearchResults {
    display: flex;
    flex-direction: column !important;

}

.SearchResults button {
    border: none;
}

.SearchResults img {
    height: 100px;
}

.SearchedPlant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid var(--color1) 2px;

}

.SearchedPlant:first-of-type {
    border-top: none;
}


.SearchedPlant h2 {
    margin-bottom: 0px;
    font-size: medium;
}

.SearchedPlant p {
    font-size: smaller;
}

.SearchedPlant img, .SearchedPlant div, .SearchedPlant h3 {
    pointer-events: none;
}


.CurrentPlant {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--color3);
    padding: 20px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.CareDetails {
    position: relative;
}

.CurrentPlant h1 {
    font-size: xx-large;
    margin-bottom: 4px;
    margin-left: 0px;
}

.FamilyName {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.CurrentPlant img {
    margin-right: 40px;
    height: auto;
    width: 35vw;
}

.CurrentPlant button {
    border: solid 2px var(--color1);
    background-color: var(--color2);
    padding: 8px;
    margin: 20px;
    border-radius: 10px;

}

.CurrentPlant hr {
    border-color: var(--color1);
    width: 110vw;
    margin-left: -30px;
}