.DetailView {
    background: var(--color2);
    padding: 2px;
    height: 100vh;
}

.DetailView h1 {
    margin-left: 20px;
    text-align: center;
}

.GardenPlants {
    background-color: var(--color3);
    margin: 0px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
}

@media screen and (min-width: 850px){
    .DetailView {
    margin: 20px;
    border-radius: 10px;
    height: max-content;
    }
}