.PlantCard {
    background-color: var(--color3);
    padding: 0px;
    border: 2px solid var(--color1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.PlantTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color2);
    padding: 10px 10px 10px 20px;
    border-radius: 7px 7px 0px 0px;
    border-bottom: 2px solid var(--color1);
    text-transform: capitalize;
}

.PlantCard img {
    width: 100px;
    border-radius: 10px;
}

.BottomOfCard {
    display: flex;
    padding-bottom: 20px;
}

.GaugeDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.FullGauge {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Gauge {
    margin: 10px;
}

.Pointer {
    width: 30px !important;
    margin-top: -40%;
    
}

.FullGauge p {
    margin-top: -3px;
}

.Data {
    padding: 20px;
}